$color-primary-500: #00c896;
$color-primary-700: #17a27e;

$color-black-500: #494949;
$color-black-700: #191919;

$color-white: #fff;
$color-gray-500: #eaeaea;
$color-gray-700: #cfcfcf;


$margin-content: 60px;
$margin-content-mobile: 36px;

$border-radius: 8px;