@import './reset';
@import './variables';
@import './mixins';
@import './layout';
@import './button';
@import './quiz';
@import './timer';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

html, body {
    font-family: 'Noto Sans KR', sans-serif; font-weight: 400; line-height: 1.4;
    color: $color-black-500;
}

.screen-result {
    .score {
        width: 100%; max-width: 300px; margin: $margin-content/2 auto 10px;
        font-size: 18px; font-weight: 700; color: $color-black-700;
        @include mobile { font-size: 15px; margin: $margin-content-mobile/2 auto 10px; }

        .tag {
            display: flex; justify-content: space-between; padding: 0 10px;
            @include mobile { padding: 0 6px; }

            &.num {
                font-size: 28px;
            }
        }

        .percent {
            position: relative; display: block;
            height: 20px; margin: 14px 0;
            border-radius: 100px; overflow: hidden;
            background-color: $color-gray-500;
            @include mobile { height: 16px; margin: 10px 0; }
        
            .correct {
                position: absolute; top: 0; left: 0; 
                width: 100%; height: 100%;
                background-color: $color-primary-500;
                transform: translateX(-100%);
                transition: transform 0.5s ease-out;
            }
        }
    }

    .timer {
        position: relative; top: auto; right: auto; transform: none;
        margin-top: $margin-content/2;
        span { vertical-align: text-top; }
    }

    .buttons {
        width: 100%;
        margin-top: $margin-content;
        @include mobile { margin-top: $margin-content-mobile; }

        .btn { 
            display: inline-block; margin: 0 5px;
        }
    }
}